body{
background-color: beige;
margin-left: 20px;
}
.sorh{
   width: 280px;
   height: 400px; 
   border: 0px solid;
   margin-top: 170px;
   margin-left: 418px;

}
.home{
border: 0px solid;
margin-left: 698px;
margin-top: -404px;
margin-right: 300px;
background-color: rgb(255, 255, 255);
height: 400px ;
width: 300px ;
}
.mm{
padding-top: 10px;
 margin-left: 30px;
}
button{
   background-color: rgb(81, 56, 56);
   border: 0px solid;
   height: 40px;
   width: 250px;
   margin-top: -20px;
}
